body {
    background: var(--Unnamed-Color, #0A0A0C);
    font-family: "Space Grotesk";
    font-family: Satoshi;
}

.container-header {
    max-width: 1442px;
    padding-bottom: 200px;
    margin: 0 auto;



}


.header {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 42px;
    justify-content: center;


    /* Center the navigation horizontally */
}

.logotype {
    width: 24px;
    height: 24px;
    padding-top: 15px;
    margin-right: -35px;
}

.logo-text {
    color: var(--Unnamed-Color, var(--Unnamed-Color, #FFF));
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;

}


.nav-items {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-left: 42px;
}

.nav-items:hover {
    color: #FFF;
}

.nav-item {
    margin-right: 200px;
}

.svg-detail {
    position: absolute;
    margin-left: 1000px;
    margin-top: -110px;
}

.svg-detail-2 {
    position: absolute;
    margin-left: 1200px;
    margin-top: -110px;
}

.designer {
    width: 1140px;
    height: 567.027px;
    flex-shrink: 0;
    margin-left: 234px;
    position: relative;
    z-index: 3;


}

.bg {
    background: var(--Unnamed-Color, linear-gradient(233deg, #17171A 27.06%, rgba(23, 23, 26, 0.00) 92.12%));
    width: 1140px;
    height: 390px;
    flex-shrink: 0;

}

.bg-2 {
    border: 2px solid var(--Unnamed-Color, #171719);
    width: 1100px;
    height: 450px;
    flex-shrink: 0;
}


.designer-text {
    width: 419.578px;
    color: var(--Portfolio-white, #E6E6E6);
    font-family: "Space Grotesk";
    font-size: 58.575px;
    font-style: normal;
    font-weight: 300;
    line-height: 114%;
    /* 66.776px */
}

.Howard {
    color: #194BFD;
    font-family: "Space Grotesk";
    font-size: 58.575px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
}


.under-text {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    width: 541.414px;
}

.button-view {
    display: flex;
    padding: 12px 18px;
    align-items: flex-start;
    gap: 8px;
    color: var(--Unnamed-Color, #E6E6E6);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
    margin-top: 56px;
    border-radius: 29px;
    background: var(--Unnamed-Color, linear-gradient(94deg, #194BFD -15.33%, #AD13FB 129.21%));
    width: 100px;
    text-decoration: none;

}

.button-view:hover {
    background: var(--Unnamed-Color, linear-gradient(94deg, #AD13FB 129.21%, #194BFD -15.33%));

}

.arrow {
    margin-left: 150px;
    margin-top: -25px;
    stroke-width: 2px;
    stroke: var(--Unnamed-Color, #FDFDFD);
    width: 30.328px;
    height: 0px;
    flex-shrink: 0;
}

.photo {
    float: right;
    position: relative;
    margin-top: -102px;
    width: 453.418px;
    height: 493.912px;
    flex-shrink: 0;
}

.all-photo {
    position: absolute;
    top: 0;
    right: 0;
}

.detail {
    margin-left: 300px;
    margin-top: 100px;

    position: absolute;
}


.detail-2 {
    margin-right: 90px;
    margin-top: 300px;
    position: absolute;
}


.detail-4 {
    margin-left: 90px;
    margin-bottom: 300px;
}


.speciality-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
}

.text-h1 {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;

}


.text-h2 {
    color: var(--Portfolio-white, #E6E6E6);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    /* 36.48px */

}

.text-h2-blue {
    color: var(--Portfolio-primary, #194BFD);
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
}

.under-speciality {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    text-align: center;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 509.414px;
}





.boxes-all {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    align-items: center;
    margin-bottom: 100px;
}

.specialyty-shadow-box {
    display: flex;
    width: 369.333px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background: var(--Unnamed-Color, linear-gradient(233deg, #0E0E10 27.06%, rgba(23, 23, 26, 0.23) 92.12%));

}


.email-h1 {
    color: var(--Unnamed-Color, #E6E6E6);
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: px;
    justify-content: center;
}

.email-text {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    text-align: center;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 277.227px;
}

.img-mark {
    position: absolute;
}




.specialyty-shadow-second {
    display: flex;
    width: 369.333px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background: var(--Unnamed-Color, linear-gradient(233deg, #0E0E10 27.06%, rgba(23, 23, 26, 0.23) 92.12%));

}



.specialyty-shadow-three {
    display: flex;
    width: 369.333px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background: var(--Unnamed-Color, linear-gradient(233deg, #0E0E10 27.06%, rgba(23, 23, 26, 0.23) 92.12%));

}




.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}


.about-me-h1 {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
}



.work-procces-h2 {
    color: var(--Portfolio-white, #E6E6E6);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
}

.work-blue {
    color: var(--Portfolio-primary, #194BFD);
    font-family: "Space Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    margin-left: 8px;
}

.work-procces-text {
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    text-align: center;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 426.633px;
}



.about-graphics {
    width: 1151.992px;
    height: 301.985px;
    display: flex;
    margin-top: 125px;

}

.border-1 {
    border-radius: 12px;
    border: 1px solid var(--Unnamed-Color, #C0C0C0);
    background: var(--Unnamed-Color, #0E0E10);
    box-shadow: 0px 4px 40px 0px #000 inset, 0px 25px 36px 0px rgba(0, 0, 0, 0.10);
    width: 144.146px;
    height: 144.146px;
    transform: rotate(45deg);
    flex-shrink: 0;
    margin-left: 250px;
    margin-right: 0px;
}

.text-about {
    color: var(--Unnamed-Color, #E6E6E6);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    position: absolute;
    margin-left: 280px;
    margin-top: 55px;

}


.text-about-2 {
    color: var(--Unnamed-Color, #E6E6E6);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    position: absolute;
    margin-left: 670px;
    margin-top: 55px;

}


.text-about-3 {
    color: var(--Unnamed-Color, #E6E6E6);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    position: absolute;
    margin-left: 1045px;
    margin-top: 55px;

}

.arrow-svg {
    stroke-width: 2px;
    width: 50px;
    height: 20px;
    position: absolute;
    margin-left: 490px;
    margin-top: 60px;
}

.arrow-svg-2 {
    stroke-width: 2px;
    width: 50px;
    height: 20px;
    position: absolute;
    margin-left: 890px;
    margin-top: 60px;
}

.services-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 0px;
}

/* Carousel */
section {
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;

}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}



.swiper {
    width: 950px;
}

.card {
    position: relative;
    color: var(--Unnamed-Color, rgba(230, 230, 230, 0.51));
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(8, 33, 195, 0.1);
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #2b13e0;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
    z-index: 100;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #FFF;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}



.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background: var(--Unnamed-Color, linear-gradient(94deg, #194BFD -15.33%, #AD13FB 129.21%));
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover {
    background: var(--Unnamed-Color, linear-gradient(94deg, #AD13FB 129.21%, #194BFD -15.33%));

}

.swiper-pagination {
    position: absolute;

}




.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background-color: #FFF;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #fff;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #4b35ed;
}


/* Carousel */




.portfolios-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 0px;
}

.portfolio {
    margin-bottom: 800px;
}

.button-projects {
    position: absolute;
    display: flex;
    padding: 12px 18px;
    align-items: flex-start;
    gap: 8px;
    color: var(--Unnamed-Color, #E6E6E6);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
    margin-top: 56px;
    border-radius: 29px;
    background: var(--Unnamed-Color, linear-gradient(94deg, #194BFD -15.33%, #AD13FB 129.21%));
    width: 100px;
    text-decoration: none;
    margin-left: 660px;
    margin-top: 330px;
}

.button-projects:hover {
    background: var(--Unnamed-Color, linear-gradient(94deg, #AD13FB 129.21%, #194BFD -15.33%));

}

.bg-photo {
    margin-top: 64px;
    position: absolute;
    z-index: -10;
    width: 1439.477px;
    height: 185.672px;
    flex-shrink: 0;
}

.rewiew {
    width: 1228.761px;
    height: 584.428px;
    flex-shrink: 0;
    margin-left: 200px;
}

.woman-rewiew {
    width: 369px;
    height: 443.385px;
    flex-shrink: 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    position: absolute;
}



.rewiew-sert {
    position: absolute;
    margin-left: 280px;
    margin-top: 380px;
}


.rewiew-zirka {
    position: absolute;
    margin-top: -30px;
}

.rewiew-subtrack {
    position: absolute;
    margin-top: -70px;
    margin-left: 500px;
}




.rewiew-text-h1 {
    color: var(--Unnamed-Color, #E6E6E6);
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.rewiew-text {
    color: var(--Unnamed-Color, #E6E6E6);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 599.766px;
    float: right;
    margin-right: 200px;
    margin-top: 32px;

}

.pidpus {
    position: absolute;
    margin-top: 300px;
    margin-left: 420px;
}